@model List<Integration>

<div class="section light-grey">
            <div class="container w-container">
                <div class="text-box _550px">
                    <h1 class="heading large-h1">We&#x27;re Connected.</h1>
                    <p class="paragraph large">
                        Whirl works with the most popular tools so your team can automate everything
                        effortlessly.
                    </p>
                    <div class="spacer _64"></div>
                </div>
                <div class="w-dyn-list">
                    <div role="list" class="_3-grid w-dyn-items">
                    @foreach (Integration item in Model)
                    {

                        <div role="listitem" class="w-dyn-item">
                        <a href="" class="integration-card w-inline-block">
                            <img height="50"
                                 loading="lazy"
                                 id="w-node-_06b2daff-86db-8a2c-3e43-56a7be42452b-cd40f689"
                                 src="@item.PathImage"
                                 alt="@item.Name"
                                 class="integration-logo" />
                            <div id="w-node-_06b2daff-86db-8a2c-3e43-56a7be42452c-cd40f689"
                                 class="text-box">
                                <h2 id="w-node-_06b2daff-86db-8a2c-3e43-56a7be42452d-cd40f689"
                                    class="heading h3">
                                    @item.Name
                                </h2>
                                <p id="w-node-_06b2daff-86db-8a2c-3e43-56a7be42452f-cd40f689"
                                   class="paragraph">
                                    @item.Description
                                </p>
                            </div>
                        </a>
                    </div>
                }   

                    </div>
                </div>
            </div>
        </div>
        <div class="section small">
            <div class="container w-container">
                <div class="cta-box">
                    <div class="cta-text-box">
                        <h2
                            id="w-node-df25bafc-bbda-a924-0cad-0deb1912000c-19120008"
                            class="heading h2">
                            Get started <br />with Peachy
                        </h2>
                        <p class="paragraph medium">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt.
                        </p>
                        <div class="spacer _16"></div>
                        <a href="@Url.Action("Register", "Home")" class="button white w-button">Get started</a>
                        <div
                            id="w-node-accda97e-abab-b1f7-2fa6-390537acd3c4-19120008"
                            class="cta-tick-text-row">
                            <p class="small-tick-text">Free 30-day trial</p>
                            <p class="small-tick-text">No credit-card required</p>
                        </div>
                    </div>
                    <img
                        src="~/images/23111_report_analysis_flatline.svg"
                        loading="lazy"
                        width="474"
                        alt=""
                        class="cta-illustration" />
                </div>
            </div>
        </div>